:host {
  padding: 20px;
}

.marker-form input {
  width: 100%;
}

.marker-item {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.btns {
  display: flex;
}

.btns a + a {
  margin-left: 4px;
}
